# --- For-Bot-Working --------- #
git+https://github.com/sxadow/fuku
git+https://github.com/sxadow/fuku2
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
